<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="js/htmx-ext-replace-params.js"></script>
</head>
<body>
  <button hx-ext="client-side-templates" 
            hx-get="/data/users.json"
            hx-swap="innerHTML"
            hx-target="#content"
            mustache-array-template="foo">prova</button>
  <div 
    hx-ext="client-side-templates" 
    hx-params="*"
    hx-get="/data/users.json" 
    hx-trigger="load"
    hx-swap="innerHTML"
    hx-target="#content"
    mustache-array-template="foo"></div>
  <p id="content"></p>
  <div hx-ext="path-params">
    <a hx-get="/data/users.json?page=2&search=meatball" hx-vals='{"page": "3"}' hx-swap="innerHTML" hx-target="#content" mustache-array-template="foo">Next</a>
  </div>
   <template id="foo">
      {{#data}}
      id: {{id}} <br/>
      name: {{name}} <br/>
      username: {{username}} <br/>
      email: {{email}} <br/>
      address street: {{address.street}} <br/>
      lat: {{address.geo.lat}} <br/>
      lng: {{address.geo.lng}} <br/>
      {{/data}}
  </template>
</body>
</html>
